<h1> My Recipes</h1>

<table>
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= link_to "#{recipe.title}", recipe_path(recipe) %></td>
    </tr>
  <% end %>
</table>

<%= link_to new_recipe_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New Recipe
<% end %>
